

A:link {
    text-decoration: none;
}
A:visited{
    text-decoration: none;
}
A:hover{
    text-decoration: none;
}
*{outline:none !important;}*:focus {outline: none !important;}textarea:focus, input:focus{outline: none !important;}	a{text-decoration: none !important;outline: none !important;}

.foto{
    height: 6.5rem;
    width: 13rem;
    border-radius: 7%;
}
.anime{
    margin-right: -12px;
}

.textoNormal{
    margin-bottom: -0.1px;
    color: #ffc107;
    font-family: 'Playfair Display', serif;
}


.textoBoton{
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2rem;
}